
/* create account and login */

.loginPage{
  background-color: rgb(240, 240, 240);
  display: flex;
  width: 100%;
  justify-content: center;
  height: 90vh;
}
.createAccountPage{
  background-color: rgb(240, 240, 240);
  display: flex;
  width: 100%;
  justify-content: center;
 
  height: 90vh;
}
  .container{
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);

  margin-top: 50px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 430px;
  color: #404040
}
.card-title{
  font-size: 30px;
}
.card-body{
  font-size: 20px;
}
.card-body input{
  height: 40px;
  margin: 5px;
  font-size: 20px;
  width: 300px;
}
/* LoginHome */

.listPostPage{
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-content: center;
}

.buttons1 button{
  padding: 10px;
  margin: 2px;
  border:1px solid #595959;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  color: #595959;
  outline: none;
  position: relative;
  bottom: 115px;
  left: 20px
  
}
.buttons1 button:hover{
  border: 1px solid skyblue;
  cursor: pointer;
}

.buttons button a {
  text-decoration: none;
  color: #404040
}

.profileInfo{
  width: 20%;
  height: 400px;
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}
.profileImg img{
  border: 2px solid #404040;
  border-radius: 50%;
  width: 100px;
}

.bottomForm{
  padding-top: 30px;
}

.container1{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;  
  flex-direction: column;
  background: white;
  height: max-content;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}
.main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;

}

.postTitle{
  font-size: 30px;
  color: #404040;
  text-decoration: none;

}
.cardTitle{
  font-size: 20px;
  color: #404040;
  text-decoration: none;

}

.cardText{
  font-size: 15px;
  color: #404040;
  text-decoration: none;
}
.postBody{
  font-size: 20px;
  color: #404040;
  text-decoration: none;
}

.loginRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cars1{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cars1 img{
  width: 200px;
  z-index: 1;
}

.connectCar{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  flex-direction: column;
  background-color: white;
  height: 400px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

.card-block{
  margin-top: 15px;
}

form input{
  height: 40px; 
  font-size: 15px;
  width: 200px;
  outline: none;
}


/* connectToCarPage */

.connectToCarPage{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
iframe{
  width: 85%;
  height: 65%;
  background-color: #404040;
}
.carButtons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.left1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.right1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

/* .ps4Controller img{
  width: 1590px;
  height: 988px;
} */

.left-arrow{
  padding-right: 20px;
}
.right-arrow{
  padding-left: 20px;
}

